body{
    background-color: #333;
}
.navbar h1{
    color: white;
}



.main_bd{
    background-color: #fff;
    padding: 0 0;
}

.stepbystep{
    /*margin-left: 0;*/
    padding:0 0;
    /*border: 1px solid #eee;*/
}
.stepbystep ul{
    /*margin-left: 0;*/
    padding:0 0;
    /*border: 1px solid #eee;*/
}

.step{
    line-height: 44px;
    padding: 0px;
    border: 1px solid #eee;
}
.step a{
    color: #333;
    text-align: center;
}



.active{
    background-color: #888;
}
.active a{
    color: #fff;
    text-align: center;
}






.contacts-add{
    padding: 15px;
}

.contacts-help{
    padding: 15px;
}

.tip{
    padding: 15px;
    border-left:1px solid #eee;
    height: 450px;
}



footer{
    text-align: center;
    color: #fff;
}



.login{
    color: white;
}

