body{
    background-color: #333;
}
.navbar h1{
    color: white;
}



.register{
    background-color: #fff;

}


.tip{
    padding: 15px;
    border-left:1px solid #eee;
    height: 200px;
}

footer{
    text-align: center;
    color: #fff;
}