{% extends "bootstrap/base.html" %}
{% block title %}whenmgone{% endblock %}
{% block navbar %}
      <link rel="stylesheet" type="text/css" href="http://simditor.tower.im/assets/styles/simditor.css" />
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
              <li><a href="../navbar-static-top/">Static top</a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
{% endblock %}
{% block content %}
    <!-- Begin page content -->
    <div class="container">
        <form action="/" method="POST">
            {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.userID.label }} {{ form.userID(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.password.label }} {{ form.password(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.name.label }} {{ form.name(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.phone.label }} {{ form.phone(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.content01.label }} {{ form.content01(class="form-control note") }}
          </div>

          <div class="form-group">
            {{ form.contact01Name.label }} {{ form.contact01Name(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.contact01Mail.label }} {{ form.contact01Mail(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.contact01Phone.label }} {{ form.contact01Phone(class="form-control") }}
          </div>


          <div class="form-group">
            {{ form.heatbeatmail.label }} {{ form.heatbeatmail(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.heatbeatrate.label }} {{ form.heatbeatrate(class="form-control") }}
          </div> 
          <div class="form-group">
            {{ form.heatbeatdelay.label }} {{ form.heatbeatdelay(class="form-control") }}
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script type="text/javascript" src="http://simditor.tower.im/assets/scripts/module.js"></script>
    <script type="text/javascript" src="http://simditor.tower.im/assets/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="http://simditor.tower.im/assets/scripts/uploader.js"></script>
    <script type="text/javascript" src="http://simditor.tower.im/assets/scripts/simditor.js"></script>

    
    <script type="text/javascript">
      var editor = new Simditor({
        textarea: $('.note')
        //optional options
      });
    </script>
{% endblock %}