{% extends "bootstrap/base.html" %}
{% block title %}whenmgone{% endblock %}

{% block head %}
{{ super() }}
<!-- ico -->
<link rel="shortcut icon" href="{{ url_for('static',filename = 'ghost_ico.ico') }}" type="image/x-icon">
<!-- cdn css -->
<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
<!-- self css -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'noteshow.css') }}">

{% endblock %}
{% block content %}
<!-- navbar -->
<nav class="navbar container"></nav>

<!-- 遗书正文 -->
<div class="container main-note">
    <div class="col-xs-10  col-xs-offset-1">
        <h1>{{ name }} 的遗嘱</h1>
        <br>
        {{ content|safe }}
    </div>

</div>


<!-- footer -->
<footer class="footer">
    <div class="container">
      <div class="col-xs-4 col-xs-offset-8 powerby">
        Powered by whenmgone.com
      </div>
    <hr>
        <p>Copyright © whenmgone 2015</p>
    </div>
</footer>

<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.js"></script>

{% endblock %}