{% extends "bootstrap/base.html" %}
{% block title %}whenmgone{% endblock %}

{% block head %}
{{ super() }}
<!-- ico -->
<link rel="shortcut icon" href="{{ url_for('static',filename = 'ghost_ico.ico') }}" type="image/x-icon">
<!-- cdn css -->
<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
<!-- self css -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'contact.css') }}">

{% endblock %}

{% block content %}
<!-- navbar -->
<!-- navbar -->
<nav class="navbar container">
  <div class="col-md-4">
    <a href="/login"><h1>whenmgone</h1></a>    
  </div>
  <div class="col-md-2 col-md-offset-6">
    <br>
  
    {% if current_user.is_authenticated() %}
    <h5 class="login">{{ current_user.email }}</h5>
    {% else %}
      stranger
    {% endif %}    
  </div>

</nav>

<!-- register -->
<div class="container main_bd">
  <div class="stepbystep col-md-12">
    <ul class="nav navbar-nav col-md-12">
      <li class="step col-md-3">
        <a href="/contact">联系人</a>
      </li>
      <li class="step col-md-3">
<!--         <div id="triangle-right-active"></div> -->
        <a href="/lastwill">遗嘱</a>
      </li>
      <li class="step col-md-3">
        <!-- <div id="triangle-right"></div> -->
        <a href="/heatbeat">心跳</a>
      </li>
      <li class="step col-md-3 active">
        <!-- <div id="triangle-right"></div> -->
        <a href="/preview">预览</a>
      </li>

    </ul>
  </div>


<!-- 心跳设置页 -->
  <div class="contacts-add col-md-4">

  <h2>遗嘱预览</h2>
  <a class="btn btn-default" href="/noteshow"  target="_blank" role="button">遗嘱页面</a>
  <br>
  <h2>邮箱测试</h2>
  <form action="/preview" method="post">
    <div>
    <button class="btn btn-default" type="submit">测试邮件</button>
    </div>
  </form>
    <div class="col-sm-12">
    <br>
    {% if message %} 
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    {{ message }}
    {% endif %}
    <!-- <button type="submit" class="btn btn-default">保存</button> -->
  </div>
  </div>

<div class="contacts-list col-md-4">
</div>

<div class="contacts-help col-md-4">
  <div class="tip">
    <h6>Tip:</h6>
    <p>您可以预览遗书的最终呈现效果。</p>
    <p>您可以通过邮件测试邮箱是否能正常工作。</p>
      <p>
        <!-- <button type="button" class="btn btn-default">邮箱测试</button> -->
        <!-- <button type="button" class="btn btn-default">（默认尺寸）Default button</button> -->
      </p>
  </div>
</div>
</div>


<!-- footer -->
<footer class="footer">
    <div class="container">
    <hr>
        <p>Copyright © whenmgone 2015</p>
    </div>
</footer>

<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.js"></script>

{% endblock %}